/*main*/

body {
    font-family: calibri, bold;
    margin: 25;
    padding: 25;
    background-color: #424a4e
    /*background-image:url('images/image1.jpg');*/
    
}






.table-product-header {
    background: lightgrey;
}

.table-product-line {
    background: white;
}

tr:nth-child(even){
    background-color: lightskyblue
}

ul{
    padding-left: 25;
  
}

h1{ font-family: 'Calibri Bold', cursive;
   color : black
   
   background: darkblue;
 
}
#couleurLi{
    font-size: 150%;
    color: darkolivegreen;
  
    background-color: rgb(192, 138, 150);
 

    font-weight: bold;

   
}
#back{
    color:red;
   
}

#view{
    color : black;
   
}
#up{
    color : black
 
}
#del{
    color :black
}
#button{
    font-weight: bold;
    color:darkolivegreen;
    background-color:aquamarine

}
#modifbutton{
    font-weight: bold;
    color:darkolivegreen;
    background-color:aquamarine


}
#deletebutton{
    font-weight: bold;
    color:darkolivegreen;
    background-color:aquamarine

}
h2{color : rgb(240, 230, 230);
   
    background: lightblue;
  
 }
 #menuprods{
    font-size: 120%;
     color:white
     

 }

 #menunew{
    color:white

 }
 img{
   
padding: 50px;
     width: 50%
 }

