
/* Balise générique */

body {

    font-family: calibri, bold;
    margin: 25;
    padding: 25;
    background-color: #424a4e;
    font-size:15px;
}

h1{ 
    font-family: 'Calibri Bold', cursive;
    color: white;
    text-align: center;
    margin:100px
}

h2{
    color : rgb(240, 230, 230);
    background: lightblue;  
}

ul{
    padding-left: 25;  
}

img{
    width: 100%;
    height: auto;
}

 /* layout */


header.header {
    height: 96px;
    width: 100%;
    background-color:black
  }


.logo{
    margin-left:100px;
    width: 10%
    
}

.footer {
    height: 88px;
    width: 100%;
    background-color:black
  }

  .background-footer {

    width: 100%;
    background-color: #000;
  }


/* button de gestion */

.button-plus {
    color :black

}

.button-add {
    color :black
}

.button-delete {
    color :black

}



.plus{
    width:3%;
    padding: 7px;
    color:white;
}



/* tableau de gestion */
.table-product-header {
    background: #c6c9ca;
}

.table-product-line {
    background: white;
}

.table-prod {
    margin: 0 auto;
}

.table-prod tr:nth-child(even){
    background-color: #80d4ff;
}

 a.menunew{
    color:white;
    float:right;
    text-align: center;

 }
